.main-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 80vw;
  margin: 10px;
  height: 75vh;
  padding: 10px;
}
.main-bg1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  justify-content: space-between;
  height: 6vh;
}
.main-bg12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25vw;
  justify-content: space-between;
  height: 6vh;
}
.button-bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: groove;
  height: 5vh;
  width: auto;
  padding: 10px;
}

.icon {
  font-size: 15px;
}
.icon1 {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.icon2 {
  font-size: 15px;
  color: rgb(192, 187, 187);
}
.icon21 {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(192, 187, 187);
}

.icon211 {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.button-bg1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: groove;
  height: 5vh;
  width: auto;
  background-color: rgb(56, 56, 175);
  border-color: rgb(56, 56, 175));
  padding: 10px;
}
.main-bg2 {
  display: flex;
  flex-direction: column;
  height: 30vh;
}
.item-bg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    box-shadow: 0px 0.3px 0px grey;
}
.item-bg1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 7vw;

}
.order-no{
    color: blue;
}

.pending-button{
    border-color: #90ee90;
    background-color:#c2edce;
    color: green;
}
.page-bg{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.page-bg1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15vw;
}
.page-button{
    border-color: grey;
    border-style:groove;
    padding: 5px;
}
.page-no{
    color: green;
}
.button-bg2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: groove;
  width: auto;
  height: 3vh;
  padding: 10px;
}
.no-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1vw;
  margin-top: 20px;
  height: 15vh;
}
.item-bg9911{
   display: flex;
   flex-direction: row;
   width: 6vw;
   border-style: groove;
   border-color:blue;
   align-items: center;
   height: 4vh;
   background-color: aqua;
}
.icon-sidebar11{
    color: blue;
}
.item-bg99111{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 50vw;
}
.passage-bg{
    color: blue;
    text-decoration: underline;
}